/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---End of CSS Reset---*/

/*---GLOBAL STYLES---*/
:root {
	--logo-light: url("designs/mushy-mushy-logo-light.svg");
	--logo-dark: url("designs/mushy-mushy-logo-dark.svg");

	--white: hsla(0, 100%, 100%, 1);
	--white-op10: hsla(0, 100%, 100%, .10);
	--white-op25: hsla(0, 100%, 100%, .25);
	--white-op50: hsla(0, 100%, 100%, .5);
	--gray25: hsla(0, 0%, 25%, 1);
	--gray25-op25: hsla(0, 0%, 25%, .25);
	--gray-op50: hsla(0, 0%, 0%, .5);
	--gray20: hsla(0, 0%, 10%, 20);
	--blue50: hsla(250, 100%, 50%, 1);
	--blue50-op025: hsla(250, 100%, 50%, .025);
	--blue70: hsla(250, 100%, 70%, 1);
	--orage60: hsla(30, 100%, 60%, 1);
	--teal35: hsla(150, 100%, 35%, 1);
	--forest35: hsla(150, 50%, 35%, 1);
	--teal35-op10: hsla(150, 100%, 35%, .1);
}

.light-theme {
	--logo: var(--logo-light);
	--primary-bg: var(--white);
	--secondary-bg: var(--blue50-op025);

	--border: var(--gray25-op25);

	--text: var(--gray25);
	--text-light: var(--gray-op50);
	--text-white: var(--white);
	--text-latin: var(--gray-op50);
	--link: var(--blue70);
	--link-alt: var(--blue50);

	--button: var(--blue70);
	--button-alt: var(--blue50);
	--button-shadow: var(--blue50-op025);
}

.dark-theme {
	--logo: var(--logo-dark);
	--primary-bg: var(--gray20);
	--secondary-bg: var(--white-op10);

	--border: var(--white-op50);

	--text: var(--white);
	--text-light: var(--white-op50);
	--text-white: var(--white);
	--text-latin: var(--white-op50);
	--link: var(--blue70);
	--link-alt: var(--blue50);

	--button: var(--blue70);
	--button-alt: var(--blue50);
	--button-shadow: var(--blue50-op025);
}

body {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 16px;
	color: var(--text);
	background-color: var(--primary-bg);
}

.page {
	width: 95%;
	margin: 0 auto;
}

h1 {
	font-size: 5rem;
	font-weight: 100;
	line-height: 1.25em;
}

h2 {
	font-size: 2rem;
	font-weight: 100;
	line-height: 1.25em;
}

h3 {
  font-size: 1rem;
  line-height: 1.25em;
  font-weight: 400;
}

p {
	font-size: 1rem;
	line-height: 2em;
}

p.big {
	font-size: 1.25rem;
	line-height: 2em;
}

i {
	font-style: italic;
}

b {
	font-weight: bold;
}

a {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	color: var(--link-alt);
	transition: color .5s ease;
}

a:visited {
	color: var(--link);
	transition: color .5s ease;
}

p a::after {
	content: "→";
	margin-left: .5rem;
}

a.arrow::after {
	content: "→";
	margin-left: .5rem;
}

a.nor-east::after {
	content: "↗";
	margin-left: .5rem;
}

a.wiggle-right::after {
	content: "↝";
	margin-left: .5rem;
}

a.wiggle-left::after {
	content: "↜";
	margin-left: .5rem;
}

button {
	font-family: 'IBM Plex Mono', monospace;
	font-size: .75rem;
	text-align: center;
}

.latin {
	font-style: italic;
	color: var(--gray-op50);
}

.numero {
	font-size: .65em;
	vertical-align: 20%;
	margin-right: .5em;
	border-bottom: .075em solid var(--text);
}

nav .mushroom-name .numero {
	margin: 0 .5em;
}

/*---ELEMENT STYLES---*/

nav {
	display: inline-flex;
	width: 100%;
	height: 4rem;
	background-color: var(--primary-bg);

	position: fixed;
	top: 0;

	z-index: 100;
	box-shadow: 0 .25rem 0 0 var(--white-op25);
}

.scrolled-down{
  transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
  transform:translateY(0); transition: all 0.3s ease-in-out;
}
nav .nav-element {
	display: inline-flex;
	height: 4rem;
	padding: 0 1.5rem;
	align-items: center;
}

nav .logo {
	width: 2.5rem;
	margin-left: 2.5%;
	background-image: url("designs/mushy-mushy-logo-light.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60%;
}

nav .items {
	display: inline-flex;
	position: fixed;
	right: 2.5%;
}

nav .nav-element {
	padding: 0 1rem;
}

nav li a{
	font-size: .875rem;
	color: var(--text);
	cursor: pointer;
}

nav a {
	text-decoration: none;
}

nav a:visited {
	color: var(--text);
}

nav a.nav-element:hover {
	background-color: var(--secondary-bg);
}

nav .mushroom-name {
	border-left: 1px solid;
	border-left-color: var(--border);
}

nav .back-button {
	border-left: 1px solid;
	border-left-color: var(--border);
	padding: 0 2rem;
	color: var(--text);
}

footer {
	display: inline-flex;
	align-content: flex-start;
	width: 100%;

	background-color: var(--secondary-bg);
	margin-top: 6rem;
	padding: 4rem 0;
	color: var(--text-light);
}

footer .site-links {
	margin: 0 1% 0 2.5%;
	width: 20%;
}

footer .feedback {
	margin: 0 1%;
	width: 30%;
}

footer h4 {
	padding: 0 0 1rem 0;
	border-bottom: 1px solid var(--border);
}

footer .site-links li {
	padding: 1rem 0;
	border-bottom: 1px solid var(--border);
	font-size: .875rem;
}

footer .feedback p {
	margin-top: .5rem;
	font-size: .875rem;
}

button {
	background-color: var(--button);
	border: none;
	padding: 1em 2em;
	cursor: pointer;
	border-radius: .25rem;
	color: var(--link);
	transition: 1s ease;
}

button:hover {
	box-shadow: 0 0 0 .25rem var(--button-shadow);
	transition: 1s ease;
}

.masthead {
	position: relative;
	width: 100%;
	min-height: 30rem;
	height: 60vh;
	margin: 0 0 3rem; /*NAV OFFSET */

	display: inline-flex;
	align-items: center;

	overflow: hidden;
	z-index: -1;
}

.masthead .content {
 	max-width: 40rem;
	border: 1px solid var(--white);
	margin-left: 5%;
}

.masthead h1 {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 3em;
	text-transform: uppercase;
	border-bottom: 1px solid var(--white);
	padding: 2rem 3rem;
	color: var(--text-white);

	letter-spacing: 1.5em;
}

.masthead p {
	font-size: .875rem;
	padding: 1rem 2rem;
	background-color: var(--white);
	color: var(--gray25);
}

.masthead video {
	position: absolute;
	width:100%;
	border-radius: .125rem;
	z-index: -1;
}

.callout {
	position: relative;
	text-align: center;
	padding: 1.25rem 0;

	line-height: 2em;
	border-radius: .5rem;

	margin-bottom: 2rem;
	border: 1px solid var(--border);
}

.callout p {
	display: inline-block;
	width: 90%;
	font-size: .875rem;
}

.callout.orange {
	color: var(--orage60);
	border: 1px solid var(--orage60);
}

.callout.orang .latin {
	color: var(--orage60);
}

.special {
	animation: colorRotate 2s linear 0s infinite;
}

@keyframes colorRotate {
  from {
    color: hsla(0, 100%, 50%, 1);
  }
  25% {
    color: hsla(63, 100%, 50%, 1);
  }
  50% {
    color: hsla(139, 100%, 50%, 1);
  }
  75% {
    color: hsla(215, 100%, 50%, 1);
  }
  100% {
    color: hsla(292, 100%, 50%, 1);
  }
}

.entries {
	display: inline-flex;
	align-items: baseline;
	flex-wrap: wrap;
	background-color: var(--primary-bg);
	padding: 2rem;
}

.entry-tile {
	position: relative;
	width: 24%;
	margin: .5%;
	transition: transform .5s ease;
	margin-bottom: 2.5rem;
}

.load-element {
	display: none;
}

.entry-tile button {
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;

	background-color: var(--white-op50);
	color: var(--text);
	border: none;

	opacity: 0;
}

.entry-tile h3 {
	display: inline-block;
	width: 100%;
	padding-bottom:.25rem;
	border-bottom: 1px solid var(--border);
	color: var(--text)
}

.entry-tile h3::after {
	content: "→";
	margin-left: 0rem;
	opacity: 0;
	transition: .5s ease;
}

.entry-tile .latin {
	display: inline-block;
	padding: .5rem 0 .75rem;
	font-size: .75rem;
	color: var(--teal35);
}

.entry-tile img {
	display: inline-block;
	width: 100%;
	border-radius: .125rem;
	background-color: var(--secondary-bg);
	animation: image-load 2s infinite;
}

@keyframes image-load {
	0% {background-color: hsla(250, 100%, 95%, .85);}
	50% {background-color: hsla(250, 100%, 95%, .25);}
	100% {background-color: hsla(250, 100%, 95%, .85);}
}

.tags {
	position: relative;
}

.entry-tile .tag {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: .625rem;
	padding: 1em;
	border-radius: 2rem;
	background-color: var(--primary-bg);
	opacity: 1;

	color: var(--text);
}

.entry-tile:hover .tag {
	z-index: 1;
	color: var(--text);
}

.entry-tile:hover {
	color: var(--text) !important;
	cursor: pointer;

	transform: translateY(-.5rem);
	transition: transform .5s ease;
}

.entry-tile:hover h3::after {
	margin-left: 1rem;
	transition: .5s ease;
	opacity: 1;
}

.entry-tile:hover img {
	opacity: .75;
	transition: .5s ease;
}

.entry-tile:hover button {
	opacity: 1;
	bottom: 5%;
	transition: .5s ease;
}

.entry-tile button:hover {
	background-color: var(--white);
	color: var(--teal35);
	box-shadow: 0 0 0 .25rem var(--white-op25);
}

#load-more {
	width: 100%;
	margin: 1rem auto 0;
	font-size: 1rem;
	color: var(--white);
	background-color: var(--link);
}

#load-more:hover {
	background-color: var(--link-alt);
	color: var(--white);
}

#load-more:active {
	background-color: var(--link);
	color: var(--white);
}

#load-more:focus {
	outline: none;
}


#load-more.loaded {
	display: none;
}

/*---MEDIA QUEIES---*/

@media screen and (max-width: 900px) {
	.masthead {
		min-height: 20rem;
		height: 40vh;
	}

	.masthead .content {
		width: 100%;
		max-width: 100%;
		margin: 0;
		border: none;
	}

	.masthead .content h1 {
		border: none;
	}


	.masthead .content p {
		display: none;
	}

	.masthead video {
		width: 100%;
		left: 0;
	}

	.entry-tile {
		width: 32%;
	}
}

@media screen and (max-width: 700px) {
	.masthead {
		min-height: inherit;
		height: fit-content;
	}

	.masthead video {
		position: absolute;
		top: 0;
	}

	.masthead .content {
		width: fit-content;
		margin: 0 auto;
	}

	.masthead .content h1 {
		font-size: 1rem;
		padding: 2rem 0;;
	}

	footer .site-links {
		width: 45%;
	}

	footer .feedback {
		width: 45%;
	}
	.entry-tile {
		width: 49%;
	}
}

@media screen and (max-width: 500px) {
	.masthead video {
		width: 32rem;
	}

	.entry-tile {
		width: 100%;
	}

	.masthead .content h1 {
		font-size: 1rem;
		width: inherit;
	}

	footer {
		display: inline-block;
	}

	footer .site-links {
		width: 95%;
		margin: 0 auto 3rem;
	}

	footer .feedback {
		width: 95%;
		margin: 0 auto 1rem;
	}
}
