.header {
	position: relative;
	width: 100%;
	height: 75vh;
	min-height: 40rem;
	margin: 4rem 0 4rem 0; /*Margin Top = NAV OFFSET*/
	background-color: hsla(250, 100%, 95%, .25);

	display: inline-flex;
	justify-content: space-between;
	align-items: center;

	overflow: hidden;
}

.header .info {
	width: 20%;
	border: 1px solid hsla(150, 100%, 0%, .25);
	padding: 2rem;
	border-radius: .125rem;
	margin-left: 12.5%;
}

.header h1 {
	font-size: 3rem;
	padding-bottom: 2rem;
	margin-bottom: 2rem;

	border-bottom: 1px solid hsla(150, 100%, 0%, .25);
}

.header .latin {
	font-size: 2rem;
	font-weight: 100;
	line-height: 1.5em;
}

.header img {
	width: 50%;
}

.observations {
	margin-bottom: 2rem;
}

.subject {
	width: 100%;
	position: relative;
	display: inline-flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 2rem;
	padding-top: 2rem;
	border-top: 1px solid hsla(150, 0%, 85%, 1);
}

.subject:first-child {
	padding-top: 0;
	border-top: none;
}

.subject p{
	margin-bottom: .75rem;
}

.info {
	width: 20%;
	font-size: .875rem;
	line-height: 1.5rem;
}

.info td {
	padding: 1rem;
	border-bottom: 1px solid hsla(150, 0%, 85%, 1);
}

.info th {
	text-align: left;
	width: 20%;
	padding: 1rem;
	border-bottom: 1px solid hsla(150, 0%, 85%, 1);
}

.content {
	width: 70%;
	padding-left: 5%;
	border-left: 1px solid hsla(150, 0%, 85%, 1);
}

.content img {
	border-radius: .125rem;
}

.observation {
	margin-bottom: 4rem;
}

.observation:last-child {
	margin-bottom: 0;
}

.title {
	width: 100%;
	border-bottom: 1px solid hsla(150, 0%, 85%, 1);
	margin: 1rem 0 3rem;
	padding-bottom: 1.75rem;
}

.title h2 {
	margin-bottom: 2rem;
}

.title span {
	font-size: .875rem;
}

.observation-info {
	position: relative;
	table-layout: fixed;
	width: 100%;
	font-size: .875rem;
	line-height: 1.5rem;
}

.observation-info th {
	border: none;
	text-align: left;
	padding-left: 1rem;
	border-left: 1px solid hsla(150, 0%, 85%, 1);
}

.observation-info td {
	padding-left: 1rem;
	border-left: 1px solid hsla(150, 0%, 85%, 1);
}

.row {
	width: 100%;
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

/*
Cols Guide
-----------------------------------------------
   1       2       3       4       5       6
|     | |     | |     | |     | |     | |     |
|     | |     | |     | |     | |     | |     |
|     | |     | |     | |     | |     | |     |
||15%|| |     | |     | |     | |     | |     |
||||||32%|||||| |     | |     | |     | |     |
||||||||||49%|||||||||| |     | |     | |     |
||||||||||||||64%|||||||||||||| |     | |     |
||||||||||||||||||79%|||||||||||||||||| |     |
||||||||||||||||||||||100%|||||||||||||||||||||
-----------------------------------------------

*/

.content .cols1 {
	width: 15%;
	margin-bottom: 2rem;
}

.content .cols2 {
	width: 32%;
	margin-bottom: 2rem;
}

.content .cols3 {
	width: 49%;
	margin-bottom: 2rem;
}

.content .cols4 {
	width: 64%;
	margin-bottom: 2rem;
}

.content .cols5 {
	width: 79%;
	margin-bottom: 2rem;
}

.content .cols6 {
	width: 100%;
	margin-bottom: 2rem;
}

.content .img-container {
	border-radius: .125rem;
	/* background-color: hsla(250, 100%, 95%, .25); */

	position: relative;
	display: inline-flex;
	align-items: flex-start;
	align-items: center;
	justify-content: space-around;

	overflow: hidden;
	padding: 1rem 0;
}

.content .img-container.cols2 .vertical-img {
	border-radius: .125rem;
	min-height: 30rem;
	max-height: 50vh;

}

.content .img-container.cols3 .vertical-img {
	border-radius: .125rem;
	min-height: 30rem;
	max-height: 30vh;

}

/*---MEDIA QUEIES---*/

@media screen and (max-width: 900px) {
	.header {
		height: 20vh;
		min-height: 30rem;
		background-color: hsla(250, 100%, 95%, 0)
	}

	.header .info {
		width: 18rem;
		margin: 0 auto;
		background-color: hsla(0, 100%, 100%, 1);
		border: none;
	}

	.header img {
		position: absolute;
		width: 100%;
		z-index: -3;
	}

	.subject {
		display: inline-block;
		margin-bottom: 2rem;
		border-top: none;
	}

	.info {
		width: 100%;
	  	margin-bottom: 4rem;
	}

	.content {
		  position: relative;
		  width: 100%;
		  padding: 0;
		  border-left: none;
	  }

	  .content .title h2 {
		  font-size: 1.5rem;
	  }

	  .row {
		  align-items: flex-start;
	  }
}


@media screen and (max-width: 520px) {
	.content .cols3 {
		width: 100%;
	}

	.content .cols4 {
		width: 100%;
	}

	.content .cols5 {
		width: 100%;
	}
}
